<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars Scraped Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div clas="container">
        <div class="jumbotron text-center">
          <h1><strong>Mission to Mars</strong></h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    </div>
    <div class="container">
        <h2><strong>Latest News</strong></h2>
        <h4>{{information.NewsTitle}}</h4>
        <p>{{information.NewsParagraph}}</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2><strong>Mars Image</strong> </h2>
                <img src = {{information.FeaturedImage}} width="500">
            </div>
            <div class="col-md-6">
                <!-- Mars Facts -->
                <div class="row" id="mars-facts">
                  <h4><strong>Mars Facts</strong></h4>
                  {{ information.FactsTable | safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <center>
        <h2><strong>Mars Hemispheres</strong></h2>
        <div class="image_container">
            {% for img in information.Hemisphere %} 
            <img src="{{img.img}}" width="400">
            <h4>{{img.title}}</h4>
            {% endfor %}
        </div>
        </center>
    </div>
</body>
</html>